@{
    ViewData["Title"] = "Home Page";    
}


<style>
    .mw-content {
        background: #fcfcfc;
        border: 1px solid #88283a;
        padding: 1.25em 1.75em;
        box-shadow: 0 1px 2px 1px rgba(0,0,0,0.02);
        background: #f0d9a2;
        padding: 1em 2em 3em;
        position: relative
    }
</style>

<div class="mw-content text-black text-center">
    <h3 class="display-4">@ViewData["ResultMessage"]</h3>
</div>

